* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#h1styles {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
}

#liststyles {
    list-style-type: none;
    text-decoration: none;
}

.pstyles {
    font-weight: 600;
    font-size: 24px;
}

.maindiv {
    width: 70%;
    margin-left: 15%;
    padding: 5%;
    background-color: rgb(250, 240, 250);
}

.img {
    width: 100;
}

.innerdiv {
    width: 90%;
    height: 500px;
    border: 2px solid black;
}

div.f {
    background-color: blueviolet;
    width: 1300px;
    height: 300px;
    margin-left: 20px;
    float: left;
    color: white;
}

div.a {
    background-color: rgb(226, 141, 43);
    width: 200px;
    height: 200px;
    margin-left: 10px;
    float: left;
}

div.b {
    background-color: rgb(207, 182, 231);
    width: 200px;
    height: 200px;
    margin-left: 10px;
    float: left;
}

.img {
    width: 20%;
    height: auto;
    margin-right: 7px;
}

.para {
    border: 2px solid;
}

div.p {
    border: 4px solid green;
    margin-bottom: 10px;
    padding: 20px;
}

li {
    margin-bottom: 20px;
}

li a {
    color: rgb(10, 9, 9);
    text-decoration: none;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: silver;
    color: blue;
}